<div class="description">
    <h3>Blockchain Information</h3>
    <p>Pending: Button style, link to function, formatting response.</p>
</div>

<div class="gradient"></div>

<div class="module">
    <h4>Blockchain Information</h4>
    <button onclick="getBlockchainInformation()">Refresh</button>
    <br><br>

    <div>
        <p id="output" class="output"><!--GET - Blockchain Information - Output--></p>
    </div>
    <br>
</div>

<div class="gradient"></div>

<script>
    function getBlockchainInformation() {
        fetch('http://192.168.58.130:4000/api/36b900c3719a933b97c70995527df5a88da15db9/')
            .then( response => {
                return response.json();
            }).then(bci => {
                document.getElementById('output').innerHTML = JSON.stringify(bci)
            })
    }
</script>