<div class="description">
    <h3>Create Caliper</h3>
    <p>Pending: Form for post request, button style, onclick for button link, logic for registration</p>
</div>

<div class="gradient"></div>

<div class="module">
    <p>Create Caliper</p>
    <button onclick="NOT YET postCreateCaliper()">Get</button>
    <br/><br/>
    <p class="output">POST - Create Caliper - OUTPUT<br> </p>
    <br>
</div>

<div class="gradient"></div>

<script>
    function postCreateCaliper() {
        
    }
</script>