<div class="description">
    <h3>Download CCP</h3>
    <p>Pending: Form for post request, button style, onclick for button link, logic for registration</p>
</div>

<div class="gradient"></div>

<div class="module">
    <p>Download CCP</p>
    <button onclick="NOT YET getDownloadCCP()">Get</button>
    <br/><br/>
    <p class="output">GET - Download CCP - OUTPUT<br> </p>
    <br>
</div>

<div class="gradient"></div>

<script>
    function getDownloadCCP() {
        
    }
</script>