<div class="description">
    <h3>Download User Wallet</h3>
    <p>Pending: Form for post request, button style, onclick for button link, logic for registration</p>
</div>

<div class="gradient"></div>

<div class="module">
    <p>Download User Wallet</p>
    <button onclick="NOT YET getDownloadUserWallet()">Get</button>
    <br/><br/>
    <p class="output">GET - Download User Wallet - OUTPUT<br> </p>
    <br>
</div>

<div class="gradient"></div>

<script>
    function getDownloadUserWallet() {
        
    }
</script>