<div class="description">
    <h3>Install Contract</h3>
    <p>Pending: Form for post request, button style, onclick for button link, logic for registration</p>
</div>

<div class="gradient"></div>

<div class="module">
    <p>Install Contract</p>
    <button onclick="NOT YET postInstallContract()">Get</button>
    <br/><br/>
    <p class="output">GET - Install Contract - OUTPUT<br> </p>
    <br>
</div>

<div class="gradient"></div>

<script>
    function postInstallContract() {
        
    }
</script>