<div class="description">
    <h3>List Installed Contracts</h3>
    <p>Pending: Form for post request, button style, onclick for button link, logic for registration</p>
</div>

<div class="gradient"></div>

<div class="module">
    <p>List Installed Contracts</p>
    <button onclick="NOT YET getListInstalledContracts()">Get</button>
    <br/><br/>
    <p class="output">GET - List Installed Contracts - OUTPUT<br> </p>
    <br>
</div>

<div class="gradient"></div>

<script>
    function getListInstalledContracts() {
        
    }
</script>