<div class="description">
    This is the main landing page. Links to everything is here.
</div>
<div class="gradient"></div>

<div>
    <p>
        <ul id="frontpage-list">
            <li><a href='registerblockchain'>Register Blockchain</a></li>
            <li><a href="createcaliper">Create Caliper</a></li>
            <li><a href='createnewbcuser'>Create New BC User</a></li>
            <li><a href="installcontract">Install Contract</a></li>
            <li><a href="inserttransaction">Insert Transaction</a></li>
            <li><a href="evaluatetransaction">Evaluate Transaction</a></li>
            <li><a href='buildblockchain'>Build Blockchain</a></li>
            <li><a href="blockchaininformation">Blockchain Information</a></li>
            <li><a href="listchannels">List Channels</a></li>
            <li><a href="listblockparameters">List Block Parameters</a></li>
            <li><a href="listusers">List Users</a></li>
            <li><a href="listusersbyorganization">List Users by Organization</a></li>
            <li><a href="downloaduserwallet">Download User Wallet</a></li>
            <li><a href="contractbycontractid">Contract by Contract ID</a></li>
            <li><a href="downloadccp">Download CCP</a></li>
            <li><a href="listinstalledcontracts">List Installed Contract</a></li>
        </ul>
    </p>
</div>

<div class="gradient"></div>
